body {
  background-color:black;
}
button {
  height:100px;
  width:150px;
}
section {
  width:960px;
  margin:auto;
  padding:0;
  border: 2px solid white;
  text-align:center;
}
.block {
  width:80px;
  height:80px;
  margin:0;
  padding:0;
  /*float:left;*/
}
section .block {
  display:inline-block;
  position:relative;
}
table {
  width:960px;
  margin:auto;
  padding:0;
  border: 2px solid white;
}
table .block {

}