body {
  background-color:black;
  clear: both;
  color: white;
  float:left;
  width:100%;
}
button {
  font-size:1.2em;
  height:100px;
  width:150px;
}
h1 {

}
section {
  border: 2px solid red;
  clear: right;
  float:none;
  height:800px;
  margin:auto;
  padding:0;
  width:800px;
  
}
section .block {
  background-color:black;
  float:left;
  height:80px;
  margin:0;
  padding:0;
  position:relative;
  width:80px;
}
table {
  border: 2px solid white;
  height:600px;
  margin:auto;
  padding:0;
  width:600px;
}
table .block {

}