body {
  background-color:lightgray;
  border-collapse: collapse;
  clear: both;
  color: black;
  float:left;
  width:100%;
}
button {
  font-size:1.2em;
  height:100px;
  width:150px;
}
h1 {

}
section {
  border: 2px solid red;
  float: left;
  height:500px;
  padding:0;
  width:500px;
  margin-left: 5%;
  margin-top: 3%;
 
}
div.block-container {
  border: 2px solid white;
  background-color: white;
  height: 400px;
  margin-top: 10%;
  margin: auto;
  width: 400px;
}
div.block {
  background-color:lightgray;
  float:left;
  height:50px;
  margin:0;
  padding:0;
  position:relative;
  width:50px;
}

table {
  border: 2px solid white;
  height: 400px;
  margin:auto;
  padding:0;
  width: 400px;
}

table .block {

}